@tailwind base;
@tailwind components;
@tailwind utilities;

.height-calendar {
  height: calc(100vh - 64px);
}

.width-calendar {
  width: calc(100vw - 256px);
}

.font-mini-calendar {
  font-size: 10px;
}

.shadow-button {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

#search_people:placeholder-shown {
  background-image: url("../../public/people-icon.png");
  background-position: 12px 9px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

#search_people::placeholder {
  padding-left: 35px;
}
