@tailwind base;
@tailwind components;
@tailwind utilities;

.height-calendar {
  @media (max-width: 768px) {
    height: calc(100vh - 48px);
  }
  height: calc(100vh - 64px);
}

.width-calendar {
  @media (max-width: 768px) {
    width: calc(100vw - 128px);
  }
  width: calc(100vw - 256px);
}

.font-mini-calendar {
  font-size: 10px;
}

.shadow-button {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

#search_people:placeholder-shown {
  background-image: url("../../public/people-icon.png");
  background-position: 12px 9px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

.w-450 {
  width: 450px;
}

.w-816 {
  width: 816px;
}

.left-modal {
  left: 40%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.modal-transform {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    margin-left: 10px;
    opacity: 0.5;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.hover-shown {
  opacity: 0;
}

.hover-item:hover .hover-shown {
  opacity: 1;
}

.hover-item:hover .hover-truncate {
  @media (max-width: 768px) {
    width: 80px;
  }
  width: 150px;
}

.fa-icon-20 {
  @media (max-width: 768px) {
    height: 15px;
  }
  height: 20px;
}

.fa-icon-15 {
  @media (max-width: 768px) {
    height: 10px;
  }
  height: 15px;
}
